@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

@layer components {
  .header {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    padding: 0 1.5rem;
    background: #f4f4;
  }
}
